In [24]:
from splinter import Browser
from bs4 import BeautifulSoup

In [25]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
articles = soup.find('div', class_='list_text')
news_title = articles.find('a').text
news_p = articles.find('div', class_='article_teaser_body').text

print (news_title)
print (news_p)

In [ ]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
picture = soup.find('a', class_='button fancybox')
print (picture)

In [ ]:
featured_image_url = 'https://www.jpl.nasa.gov' + picture['data-fancybox-href']
featured_image_url

In [3]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
text = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')
[s.extract() for s in text('a')]
mars_weather = text.text
print (mars_weather)

InSight sol 153 (2019-05-02) low -98.5ºC (-145.3ºF) high -17.5ºC (0.6ºF)
winds from the SW at 4.7 m/s (10.5 mph) gusting to 11.9 m/s (26.6 mph)
pressure at 7.40 hPa

In [3]:
import pandas as pd
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [4]:
table = pd.read_html(url)

In [6]:
table = table[0]
table = table.rename(columns = {0:'description', 1:'value'})
table.set_index('description', inplace=True)
table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
html_table = table.to_html()

In [19]:
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [26]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [27]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [28]:
articles = soup.find_all('div', class_='description')

In [29]:
hemisphere_image_urls = []

for article in articles:
    title = article.a.text
    target_url = 'https://astrogeology.usgs.gov' + article.a['href']
    
    browser.visit(target_url)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    img_url = soup.find('a', target="_blank")['href']

    temp_dic = {
        "title": title,
        "img_url": img_url
    }
    
    hemisphere_image_urls.append(temp_dic)   

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]